:root {
  --cor1: #24D162;
  /* Verde vibrante */
  --cor2: #2B2B2B;
  /* Cinza escuro */
  --cor3: #1D1D1D;
  /* Preto profundo */
  --cor4: #FFFFFF;
  /* Branco */
  /* CORES DE TESTE
    --cor5: #EB5B38;
    --cor6: #272A2D;
    --cor7: #E6E4DC;
    --cor8: #347CCB;
    */
}



html, body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cor3);
  overflow-x: hidden;
  width: 100%;
}

.row {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: var(--cor4);
  margin: 10px;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0); 
  overflow: auto; /* Permite rolagem se o conteúdo ultrapassar o tamanho */
}


.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.3), rgba(29, 29, 29, 0.9)), url(../img/hero-banner.png);
  align-items: center;
  text-align: center;
  color: var(--cor4);
  animation: fadeIn 2s;
}







.corHTML{
  background-color: #ff9900;
}

.corJS{
  background-color: yellow;

}
.corPHP{
  background-color: blue;
}
.corPYTHON{
  background-color: green;
}
.corJAVA{
  background-color: rgba(255, 0, 0, 0.295);
}
.corRUBY{
  background-color: rgb(255, 0, 0);
}
.corC{
  background-color: rgb(0, 174, 255);
}
.corCS{
  background-color: rgb(225, 0, 255);
}

.title-course{
  text-align: center;
  color: var(--cor4);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}



































.card {
  color: var(--cor4);
  background: var(--cor2);
  margin: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  overflow: auto; /* Permite rolagem se o conteúdo ultrapassar o tamanho */
}

.card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: var(--cor4);
}

.card:hover {
 transform: perspective(600px) rotateY(5deg) rotateX(5deg) scale(1.1);
  box-shadow: 7px 7px 13px 0px rgba(168, 168, 168, 0.22);
}


.card:not(:hover) {
  opacity: 0.8;
}

.card p {
  margin: 10px;
  margin-bottom: 30px;
  color: #a3a5ae;
  font-size: 16px;
  
}


.image {
  float: right;
  max-width: 64px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 64px;
  background-color: transparent;
}


.neon-border {
  display: flex;
  flex-direction: column;
}

/* Estilo base para o botão */
.button {
  padding: 15px 30px;
  /* Tamanho do botão */
  font-size: 18px;
  margin: 15px;
  /* Tamanho da fonte */
  color: var(--cor4);
  /* Cor do texto */

  /* Cor de fundo laranja */

  /* Borda inicial transparente */
  border-radius: 8px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Mostra o ponteiro do mouse ao passar */
  transition: all 0.3s ease;
  /* Transição suave para os efeitos */
}

/* Efeito de borda e sombra ao passar o mouse */
.button:hover {

  /* Altera a cor de fundo ao passar o mouse */

  /* Borda laranja ao passar o mouse */
  box-shadow: 0 4px 8px rgb(0, 0, 0), 0 6px 15px rgba(0, 0, 0, 0.15);
  /* Efeito de sombra */
}

/* Efeito de sombra ao focar no botão (por exemplo, com a tecla Tab) */
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px white;
  /* Borda azul quando o botão estiver focado */  }
  /* Sombra mais forte ao focar */