/* Hero Section */
.banner {
    height: 88vh;
    background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.3), rgba(29, 29, 29, 0.9)), url('Design\ sem\ nome.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor4);
    animation: fadeIn 2s;
}

.banner h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.banner h1 span {
    color: var(--cor1);
}

.banner p {
    font-size: 22px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: var(--cor1);
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    color: var(--cor4);
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    margin: 10px;
}

.btn-primary:hover {
    background-color: var(--cor2);
    transform: translateY(-5px);
}

/* Scroll Indicator */
.scroll-indicator {
    position: absolute;
    bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: var(--cor4);
    opacity: 0.8;
}

.scroll-indicator i {
    animation: bounce 1.5s infinite;
    margin-top: 5px;
    color: var(--cor1);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.courses {
    padding: 80px 20px;
    background-color: var(--cor3) !important;
    color: white;
  }
  .courses h2 {
    font-size: 36px;
    color: var(--cor1);
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 0.8s;
    text-align: center;
  }
  
  .course-list {
    gap: 60px;
    margin: 0px auto;
  }
  .title-course{
    text-align: center;
    color: var(--cor1);
    font-size: 36px;
    margin: 150px 0px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1.5px;
  }

  .flex-course-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    animation: fadeIn 0.8s; 
  }
  
  .course-card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 240px;
    height: 370px;

  }
  
  .course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #24d1639c;
  }
  
  .course-card img {
    width: 100%;
    object-fit: fill;
    height: 50%;
  }
  
  .course-card h3 {
    padding: 20px;
    font-size: 24px;
    color: var(--cor4);
  }
  
  .course-card p {
    padding: 0 20px 20px;
    font-size: 18px;
    color: var(--cor1);
  }

  .btn-courses{
    display: block;
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
  } 