/* Paleta de Cores */
:root {
    --cor1: #24D162;
    /* Verde vibrante */
    --cor2: #2B2B2B;
    /* Cinza escuro */
    --cor3: #1D1D1D;
    /* Preto profundo */
    --cor4: #FFFFFF;
    /* Branco */
    /* CORES DE TESTE
      --cor5: #EB5B38;
      --cor6: #272A2D;
      --cor7: #E6E4DC;
      --cor8: #347CCB;
      */
}

/* RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    color: var(--cor4);
    scroll-behavior: smooth;

    
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.9);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.5s;
}

.header.scrolled {
    background-color: var(--cor2);
}

/*NAVBAR*/

.logo {
    font-size: 28px;
    font-weight: bold;
    color: var(--cor1);
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.navbar li {
    list-style: none;
    position: relative;
}


.navbar li a {
    text-decoration: none;
    color: var(--cor4);
    font-weight: 300;
    display: inline-block;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.navbar li:hover a {
    color: var(--cor1);
    transform: scale(1.15);
    text-shadow: 0px 4px 8px rgba(36, 209, 98, 0.6);
}

/* Efeito sublinhado animado */
.navbar li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--cor1);
    transition: width 0.4s ease-in-out;
}


.navbar li:hover::before {
    width: 100%;
}


.logo {
    color: var(--cor4);
}

.logo span {
    color: var(--cor1);
}

/* Botão Login */

.btn-container {
    display: flex;
    gap: 10px; 
}

.btn-login {
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
 
    transition: 0.3s;
}

.btn-login:hover {
    background-color: var(--cor2);
    transform: scale(1.1);
    border: 1px solid var(--cor1);
}

/* Botão Cadastrar */
.btn-register {
    background-color: transparent;
    color: var(--cor4);
    padding: 10px 20px;
    border: 1px solid var(--cor1);
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

button > a {
    text-decoration: none;
    color: white;
}

.btn-register:hover {
    background-color: var(--cor1);
    transform: scale(1.1);
}
/* BOTAO LOGOUT*/

.user-name {
    position: relative; 
    display: inline-block; 
}
.user-name img {
    width: 25px;
  
}

.logout-container {
    display: none; 
    position: absolute; 
    top: 100%;
    left: 0; 
    background-color: transparent; 
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    z-index: 1000; 
    
}

.user-name:hover .logout-container {
    display: block; 
}

.btn-logout {
    color: var(--cor4); 
    text-decoration: none; 
    padding: 5px 10px; 
    border-radius: 3px; 
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}


/* Efeito sublinhado animado */
.btn-logout::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--cor1);
    transition: width 0.4s ease-in-out;
}


.btn-logout:hover::before {
    width: 100%;
}
