@media screen and (max-width: 768px) {
    .flex-course-card {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;


    }
  
    .card {
        margin-left: 10px;
        margin-right: 10px;
    }
}