@media screen and (max-width: 1060px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .posts {
        width: 100vw;

    }

    .post {
        width: 100%;
    }

    .post h4 {
        font-size: 0.5rem;
    }
    .post h1  {
        font-size: 1rem;
    }

.add-post {
        width: 98%;
    }
}