@media screen and (max-width: 768px) {
    .divider {
        width: 80%;
        height: 1px;
        background-color: #ddd;
    }

    .course-info {
        flex-direction: column;
    }

    .titles {
        font-size: 0.9rem;
        flex-direction: column;
    }
}