@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --cor1: #24D162;
    --cor2: #2B2B2B;
    --cor3: #1D1D1D;
    --cor4: #FFFFFF;
    --cor5: #0e073f;
    --cor6: #f55932;
    --cor7: #272a2d;
    --cor8: #e6e4dc;
    --cor9: #347ccb;
    --cor10: #922413;

}



html, body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
}

.text-body-emphasis{
    color: var(--cor4) !important;
}


main {
    background-color: white;
}

.h4 {
    color: var(--cor4) !important;
    margin: 0 10px;
    font-size: 1.4rem;
}
.banner {
    background-color: var(--cor5);

}
.banner img {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}



.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor4);
}
.menu img {
    width: 70px;
}

.navbar {

}

.navbar ul{
    display: flex;
    margin: auto 0px;
    flex-direction: row;
    padding-left: 150px;
}

.navbar li {
    margin: auto 10px;
    font-size: 1.2rem;
    font-weight: 500;
    
    
}

.navbar a {
    text-decoration: none;
    color: var(--cor9);
}
